In [5]:
# importing modules
import os

import numpy as np
import seaborn as sb
import pandas as pd

In [6]:
os.chdir("D:\\Study\\Courses\\NPTEL\\Python for Data Science\\Week 4\\Assignment")

train_data = pd.read_csv("ServiceTrain.csv")
test_data = pd.read_csv("ServiceTest.csv")

In [7]:
train_data.head()

      OilQual  EnginePerf  NormMileage    TyreWear    HVACwear Service
0  103.388821  103.504032   103.051485  106.172658  105.686843      No
1   26.765516   26.188265    31.259536   29.186162   31.311275     Yes
2   62.413282   63.681061    59.720883   64.704031   58.620518     Yes
3   45.533338   49.906615    48.777581   48.113851   47.952072      No
4  104.388821  103.284032   103.051485  105.822658  106.536843      No

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OilQual      315 non-null    float64
 1   EnginePerf   315 non-null    float64
 2   NormMileage  315 non-null    float64
 3   TyreWear     315 non-null    float64
 4   HVACwear     315 non-null    float64
 5   Service      315 non-null    object
dtypes: float64(5), object(1)
memory usage: 14.9+ KB

In [9]:
train_data.Service = train_data.Service.astype('category')
test_data.Service = test_data.Service.astype('category')

In [10]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OilQual      135 non-null    float64
 1   EnginePerf   135 non-null    float64
 2   NormMileage  135 non-null    float64
 3   TyreWear     135 non-null    float64
 4   HVACwear     135 non-null    float64
 5   Service      135 non-null    category
dtypes: category(1), float64(5)
memory usage: 5.7 KB

# Q3

In [11]:
pd.crosstab(train_data.Service, 'count', normalize=True)

col_0       count
Service
No       0.736508
Yes      0.263492

# Logistic Regression Model

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

# Q4

In [13]:
train_data.Service = train_data.Service.map({'No':0, 'Yes':1})
test_data.Service = test_data.Service.map({'No':0, 'Yes':1})

In [14]:
pd.crosstab(train_data.Service, 'counts', normalize=True)

col_0      counts
Service
0        0.736508
1        0.263492

In [19]:
# Separating the input and output varible
x_train = train_data.drop(columns='Service', inplace=False)
y_train = train_data.Service

x_test = test_data.drop(columns='Service', inplace=False)
y_test = test_data.Service

KeyError: "['Service'] not found in axis"

In [22]:
# Logistic Regression
logreg = LogisticRegression(random_state=0)

In [24]:
logreg.fit(x_train, y_train)

LogisticRegression(random_state=0)

In [25]:
pred = logreg.predict(x_test)

In [29]:
acc = accuracy_score(y_true=y_test, y_pred= pred)
acc

0.9111111111111111

In [31]:
cnfsn = confusion_matrix(y_test, pred)
cnfsn

array([[94,  5],
       [ 7, 29]], dtype=int64)

In [33]:
print('no of misclassified result : ',(pred != y_test).sum())

no of misclassified result :  12

# KNN Model

In [35]:
from sklearn.neighbors import KNeighborsClassifier

In [43]:
knn = KNeighborsClassifier(n_neighbors=4, metric='euclidean')

In [44]:
knn.fit(x_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=4)

In [45]:
pred_knn = knn.predict(x_test)

In [46]:
accuracy_score(y_test, pred_knn)

1.0

In [47]:
confusion_matrix(y_test, pred_knn)

array([[99,  0],
       [ 0, 36]], dtype=int64)