In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

## Importing Data Sets

In [2]:
train_data=pd.read_csv('ServiceTrain.csv')
test_data=pd.read_csv('ServiceTest.csv')

In [3]:
train_data.head()

      OilQual  EnginePerf  NormMileage    TyreWear    HVACwear Service
0  103.388821  103.504032   103.051485  106.172658  105.686843      No
1   26.765516   26.188265    31.259536   29.186162   31.311275     Yes
2   62.413282   63.681061    59.720883   64.704031   58.620518     Yes
3   45.533338   49.906615    48.777581   48.113851   47.952072      No
4  104.388821  103.284032   103.051485  105.822658  106.536843      No

In [4]:
pd.crosstab(train_data['Service'],'counts',normalize=True)

col_0      counts
Service
No       0.736508
Yes      0.263492

## Cleaning Data Sets

In [5]:
train_data['Service'] = train_data['Service'].map({'Yes': 1, 'No': 0})
test_data['Service'] = test_data['Service'].map({'Yes': 1, 'No': 0})

In [6]:
train_data

        OilQual  EnginePerf  NormMileage    TyreWear    HVACwear  Service
0    103.388821  103.504032   103.051485  106.172658  105.686843        0
1     26.765516   26.188265    31.259536   29.186162   31.311275        1
2     62.413282   63.681061    59.720883   64.704031   58.620518        1
3     45.533338   49.906615    48.777581   48.113851   47.952072        0
4    104.388821  103.284032   103.051485  105.822658  106.536843        0
..          ...         ...          ...         ...         ...      ...
310  105.168821  103.744032   103.051485  107.172658  104.856843        0
311  104.388821  105.744032   103.051485  105.782658  104.196843        0
312   63.823282   62.741061    59.720883   61.654031   62.620518        1
313   26.535516   27.418265    31.259536   27.486162   33.311275        1
314   26.215516   26.338265    31.259536   27.036162   31.311275        1

[315 rows x 6 columns]

In [7]:
test_data

        OilQual  EnginePerf  NormMileage    TyreWear    HVACwear  Service
0     45.773338   49.936615    49.777581   48.263851   50.952072        0
1      4.987185    7.891003     6.588986    9.493161    3.240262        0
2      4.987185    4.891003     7.308986    8.373161    2.780262        0
3    106.388821  104.454032   103.051485  106.282658  105.536843        0
4    104.388821  103.744032   103.051485  106.132658  105.776843        0
..          ...         ...          ...         ...         ...      ...
130  103.388821  103.934032   102.941485  106.172658  105.536843        0
131    5.987185    6.081003     6.588986    8.373161    0.370262        0
132   25.385516   27.418265    32.309536   30.036162   31.311275        1
133   45.533338   49.666615    49.347581   51.263851   47.922072        0
134  104.388821  104.504032   102.461485  106.172658  105.536843        0

[135 rows x 6 columns]

In [8]:
X_train=train_data.drop(columns='Service')
y_train=train_data['Service']

X_test=test_data.drop(columns='Service')
y_test=test_data['Service']

## Model Creation

### Logistic Model

In [9]:
lgr=LogisticRegression(random_state=0)

In [10]:
lgr.fit(X_train,y_train)
predictionslgr=lgr.predict(X_test)

In [11]:
accuracy_score(y_test,predictionslgr)

0.9111111111111111

In [12]:
(predictionslgr!=y_test).sum()

12

### KNN Model

In [13]:
knn=KNeighborsClassifier(n_neighbors=4,metric='euclidean')

In [14]:
knn.fit(X_train,y_train)
predictionsknn=knn.predict(X_test)

In [15]:
accuracy_score(y_test,predictionsknn)

1.0

In [16]:
(predictionsknn!=y_test).sum()

0